@mixin button {
  border-radius: 500px;
  padding: 16px;
  font-weight: bold;
  font-size: 1rem;
  transition: transform 0.2s ease-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.025);
  }
}

#combined-playlists-wrapper {
  display: flex;
  flex-direction: column;

  #combined-playlists-content {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    gap: 2em;

    .combined-playlist {
      display: flex;
      align-items: center;
      gap: 1em;
      padding: 4px 0;

      p {
        flex-grow: 1;
      }
    }
  }
}

#combined-playlists--wrapper {
  --grid-gap: 24px;
  --column-count: 3;

  @media (min-width: 1300px) {
    --column-count: 4;
  }

  @media (min-width: 1500px) {
    --column-count: 5;
  }

  @media (min-width: 1700px) {
    --column-count: 6;
  }

  @media (min-width: 1900px) {
    --column-count: 7;
  }

  header {
    display: flex;

    h1 {
      flex-grow: 1;
    }

    button {
      border-radius: 8px;
      color: var(--spice-text);
      cursor: pointer;
      border: none;
      height: 48px;
      width: 48px;
      background-color: var(--spice-sidebar);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;

      &:hover {
        background-color: var(--spice-tab-active);
      }
    }
  }

  #combined-playlists--grid {
    --minimumColumnWidth: 180px;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);

    .main-card-card {
      button {
        background-color: transparent;
        border: none;
      }
    }

    .action-button__button {
      box-sizing: border-box;
      font-family: var(--font-family,spotify-circular),Helvetica,Arial,sans-serif;
      -webkit-tap-highlight-color: transparent;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 700;
      background-color: transparent;
      border: 0px;
      border-radius: 500px;
      display: inline-block;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: none;
      touch-action: manipulation;
      transition-duration: 33ms;
      transition-property: background-color, border-color, color, box-shadow, filter, transform;
      user-select: none;
      vertical-align: middle;
      transform: translate3d(0px, 0px, 0px);
      padding: 0px;
      min-inline-size: 0px;
      align-self: center;
    }

    .action-button__wrapper {
      position: relative;
      background-color: var(--background-base,#1ed760);
      color: var(--text-base,#000000);
      border-radius: 500px;
      font-size: inherit;
      inline-size: 48px;
      block-size: 48px;

      // display: flex;
      // align-items: center;
      // justify-content: center;

      .action-button-icon__wrapper {
        display: flex;
        position: absolute;
        top: 12px;
        left: 12px;

        // position: unset;
      }
    }
  }
}

#create-combined-playlist-form {
  display: flex;
  flex-direction: column;

  .select-wrapper {
    display: flex;
    gap: 1em;
    padding: 8px 0;
    align-items: center;

    button {
      display: flex;
    }
  }

  #target-select-field {
    margin: 16px 0;
  }

  .error-msg {
    margin-bottom: 8px;
    color: var(--spice-notification-error);
  }

  #form-actions-container {
    display: flex;
    gap: 1em;
    margin: 1em 0;
  }

  button[type=submit] {
    background-color: var(--spice-button);
    color: black;
    flex-grow: 1;
    border: none;

    @include button;

    &:active {
      background-color: var(--spice-button-active);
    }
  }
}

.btn {
  &__add-playlist {
    @include button;
    background-color: var(--spice-player);
    border: 1px solid var(--spice-misc);
    color: var(--spice-text);

    &:hover {
      border-color: var(--spice-text);
    }
  }

  &__remove-playlist {
    @include button;
    background-color: var(--spice-player);
    border: 1px solid var(--spice-misc);
    padding: 8px 16px;

    &:hover {
      border-color: var(--spice-text);
    }
  }

  &__import-export {
    @include button;
    background-color: var(--spice-player);
    border: 1px solid var(--spice-misc);
    padding: 8px 16px;

    &:hover {
      border-color: var(--spice-text);
    }
  }
}

#import-export-modal {
  .export-form {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  .import-form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    textarea {
      border-radius: 6px;
      resize: vertical;
      color: var(--spice-text);
      background-color: var(--spice-misc);
      padding: 1em;
    }
  }
}

#new-update-banner {
   background-color: var(--spice-selected-row);
   padding: 1em;
   border-radius: 0.5em;
   color: var(--spice-tab-active);
   margin-bottom: 1em;
   display: flex;
   align-items: center;

   h3 {
      flex-grow: 1;
   }

   a {
      @include button;
      color: var(--spice-tab-active);
      background-color: var(--spice-button);

      &:hover {
         text-decoration: none;
      }
   }
}
