.container {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;

    button[type=submit] {
      background-color: var(--spice-button);

      &:active {
        background-color: var(--spice-button-active);
      }
    }
  }
}
