#combined-playlists-wrapper {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;

    .select-wrapper {
      display: flex;
      gap: 1em;
      padding: 8px 0;
    }

    #target-select-field {
      margin: 16px 0;
    }

    button[type=submit] {
      background-color: var(--spice-button);

      &:active {
        background-color: var(--spice-button-active);
      }
    }
  }

  #combined-playlists-content {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    gap: 2em;

    .combined-playlist {
      display: flex;
      align-items: center;
      gap: 1em;

      p {
        flex-grow: 1;
      }
    }
  }
}
